<!DOCTYPE html>
<html lang="en">
<head>
	<% include ./partials/head.html %>
	
	<title>LogIn | <%= appName %></title>
	
	<link href="/css/background.css" type="text/css" rel="stylesheet"/>
</head>
<body>
	<header>
	</header>
	
	<main>
		<img src="/images/home-banner-1.jpg" class="bg-image opacity-40"/>
		<div class="container">
			<div class="row text-center text-white">
				<div class="col-md-4 offset-md-4 col-4 offset-4">
					<a href="/" class="logoLink">
						<i class="fa fa-anchor fa-4x"></i>
					</a>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 offset-md-4 col-8 offset-2 mt-5">
					<div class="card">
						<div class="card-header">
							<h3 class="mb-0">Login</h3>
						</div>
						<div class="card-body">
							<form class="form" role="form" id="formLogin" novalidate="novalidate">
								<div class="form-group">
									<label for="email" class="card-text">Handle</label>
									<input type="email" class="form-control" name="email"
									       id="email" required="required" autocomplete="true" placeholder="Username / Email">
									<div class="invalid-feedback" id="emailFeedback">
									</div>
								</div>
								<div class="form-group">
									<label for="password" class="card-text">Password</label>
									<input type="password" class="form-control" id="password"
									       required="required" autocomplete="new-password" name="password" placeholder="Password">
									<div class="invalid-feedback" id="passwordFeedback">
									</div>
								</div>
								<div class="form-group text-center">
									<input type="hidden" id="other" class="form-control">
									<div class="invalid-feedback" id="otherFeedback">
									</div>
								</div>
								<div class="btn btn-primary btn-block float-right card-text" id="btnLogin">
									<span id="text">Login</span>
									<i class="fa d-none fa-spinner fa-spin" id="loginSpinner"></i>
								</div>
							</form>
							<div class="pt-5 text-center text-muted small">
								<span class="card-text">
									New User?
								</span>
								<a class="card-link" href="/auth/signup">SignUp!</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
	
	<footer>
	</footer>
	
	<% include ./partials/foot.html %>
	
	<script src="/js/validator.min.js" type="text/javascript"></script>
	<script src="/js/login.js" type="text/javascript"></script>

</body>
</html>